@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(24, 24, 24);
}

main {
    background-color: rgb(24, 24, 24);
}

main h1 {
    color: white;
    text-align: center;
    padding: 10px;
}

main div#reprod {
    display: none;
}

main iframe {
    width: 100%;
    height: calc(100vw*315/560);
}

main div.mus {
    height: 70px;
    border-bottom: 1px solid rgb(78, 78, 78);
    color: white;
    padding: 10px;
}

main div.mus p {
    cursor: pointer;
}

main div.mus:hover {
    background-color: rgba(148, 146, 146, 0.137);
}

main div.mus p.artista {
    font-size: 0.8em;
    color: rgb(85, 85, 85);
}